version: '3.8'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.0
    environment:
      - "discovery.type=single-node"
      - "ELASTIC_PASSWORD=${ELASTIC_PASSWORD}"  # Loaded from .env
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - esnet
    volumes:
      - elastic_data:/usr/share/elasticsearch/data

  csv_loader:
    build:
      context: .
      dockerfile: csv_loader.dockerfile
    env_file:
      - .env
    depends_on:
      elasticsearch:
        condition: service_healthy
    networks:
      - esnet
    volumes:
      - ./data:/app/data
      - ./persisted_data/csv:/app/persisted_csv
    command: ["sh", "-c", "./entrypoint_csv_loader.sh && tail -f /dev/null"]

  api_loader:
    build:
      context: .
      dockerfile: api_loader.dockerfile
    env_file:
      - .env
    depends_on:
      elasticsearch:
        condition: service_healthy
    networks:
      - esnet
    volumes:
      - ./persisted_data/api:/app/persisted_api
    command: ["sh", "-c", "./entrypoint_api_loader.sh && tail -f /dev/null"]

networks:
  esnet:

volumes:
  elastic_data: